/* LOGO */
.logo {
  font-size: 1.2em;
  font-weight: bold;
}

/* ICONS */
.icons {
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__icons {
  margin-left: auto;
}

.header__icons img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.header__icons img:hover {
  transform: scale(1.5, 1.5);
  border: 2px solid var(--accent);
}

/* HEADER */
header {
  align-items: center;
  padding: 0.8rem 0;
}

/* NAVBAR */
.nav {
  width: 605px;
  gap: 6rem;
  justify-content: flex-end;
}


/* CONTAINER */
.container {
  display: flex;
  position: relative;
  margin-top: 2.5rem;
  min-height: 20rem;
}

.container__title {
  padding-top: 0.5rem;
  flex: 1;
  font-size: 2em;
}

.container__text {
  line-height: 1.5;
  margin-top: 0.8rem;
  padding-right: 0.8rem;
  min-height: 25rem;
  flex: 1;
}

.container__img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--black);
}

.container__btn {
  width: 335px;
  margin-bottom: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content__title {
  flex: 1;
}

/* FORM */
.container__form {
  margin-top: 1rem;
  gap: 1rem;
}

.container__form input,
textarea {
  padding: 0.5rem;
  border: 1px solid var(--black);
  color: #1f1f1f;
  font-family: inherit;
}

/* HERO/HOME */
.hero {
  min-height: 72vh;
}

.hero-img-container {
  width: 65.5rem;
}

.hero__img {
  width: 100%;
  height: auto;
  border: 1px solid var(--black);
}

.hero__content {
  padding-left: 1rem;
  flex: 1;
}

.hero__title {
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.hero__text {
  width: 19rem;
}

.hero__btn {
  margin-left: 1.2rem;
  margin-bottom: 0.3rem;
}


/* CONTACT */
.contact {
  margin: 3.5rem 0;
}

/* FOOTER */
footer {
  padding: 0.5rem 0;
}

.footer__top {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}

.footer__icons {
  align-self: flex-end;
}

.footer__map-img {
  margin-top: 1rem;
}

.footer__contact-item {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.footer__contact-item img {
  width: 17px;
  height: 17px;
}

.footer__right {
  font-size: 0.8em;
  padding: 0.8rem 0 0.3rem 0;
  color: var(--gray);
}

.footer__line {
  width: 100%;
  height: 0.01em;
  margin: 0 auto;
  background-color: rgb(175, 174, 174);
}

/* GRID */
.grid {
  display: grid;
  gap: 0px 15px;
}

.grid-even {
  grid-template-columns: 1fr 1fr;
}

.grid-small-wide {
  grid-template-columns: 330px 350px 1fr;
}

.grid-wide-small {
  grid-template-columns: 330px 1fr 350px;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 335px);
  gap: 0px 20px;
  grid-template-areas:
    "content grid-item-small wide";
} */

/* .grid-small-wide {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 0px 20px;
  grid-template-areas:
    "grid-item-small grid-item-small grid-item-wide ";
} */

/* .grid-wide-small {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 0px 20px;
  grid-template-areas:
    "content grid-item-wide grid-item-small";
} */

/* .content {
  grid-area: content;
}

.grid-item-small {
  grid-area: 'grid-item-small';
}

.grid-item-wide {
  grid-area: 'wide';
} */


/* RESPONSIVE */
@media screen and (min-width: 1400px) {
  .nav {
    width: 782px;
    gap: 9.5rem;
  }
}