/* RESPONSIVE */
@media screen and (min-width: 1400px) {
    .nav {
        width: 782px;
        gap: 9.5rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        position: relative;
    }

    .nav {
        display: none;
        opacity: 0;
        flex-direction: column;

    }


    .nav.active {
        display: flex;
        opacity: 1;
        height: auto;
        position: absolute;
        top: 4.5rem;
        padding: 0 0 5rem 0;
        background-color: rgba(255, 255, 255, 0.92);
        border-top: 2px solid var(--black);
        z-index: 100;
    }

    .nav.active a {
        margin: 0 0 -3rem 0;
        padding: 0;
    }

    .nav.active a:first-child {
        margin-top: 1rem;
    }

    .menu-icon {
        margin-left: 1rem;
        opacity: 1;
    }


    /* grid */
    .grid-even {
        grid-template-columns: 1fr;
    }

    .grid-small-wide {
        grid-template-columns: 1fr;
    }


    .content {
        width: 90vw;
    }

    .container__btn {
        width: auto;
        margin-top: 1rem;
    }

    /* HERO */
    .hero {
        flex-direction: column;
    }

    .hero-img-container {
        width: auto;
    }

    .hero__content {
        border: none;
    }

    .hero__title {
        font-size: 1.8em !important;
        flex: 0;
    }

    /* PROJECTS */
    .projects,
    .news,
    .concept,
    .projects-page,
    .projects-page-container-1,
    .news-hero,
    .all-news-container {
        display: flex;
        flex-direction: column;
    }

    .all-news-img-1 {
        height: 10rem;
    }

    .news-text {
        margin-top: 0;
    }

    .news-img-1 {
        height: 22rem;
    }

    .container__text {
        min-height: auto;
    }

    .office__container {
        flex-direction: column;
    }

    .office__content p:last-child {
        display: none;
    }

    .office__hero-image {
        width: auto;
    }

    .contact-page img {
        height: auto;
    }

    /* FOOTER */
    footer .icons {
        margin-top: 1rem;
        gap: 3rem;
    }
}